.places {
  margin: 84px 148px 101px;
}

@media (max-width: 1150px) {
  .places {
    margin: 81px 48px 89px;
  }
}

@media (max-width: 980px) {
  .places {
   margin: 88px 24px 87px;
  }
}

@media (max-width: 720px) {
  .places {
   margin: 64px 0 65px;
  }
}
