.lead__subtitle {
  max-width: 600px;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.2;
  text-align: center;
  margin: 32px auto 64px;
}

@media (max-width: 1024px) {
  .lead__subtitle {
    margin-top: 30px;
    margin-bottom: 55px;
  }
}

@media (max-width: 768px) {
  .lead__subtitle {
    margin-top: 32px;
  }
}

@media (max-width: 720px) {
  .lead__subtitle {
    max-width: 288px;
    font-size: 16px;
    line-height: 1.25;
    margin-top: 16px;
    margin-bottom: 40px;
  }
}
