.header__lang-list {
  margin: 20px 18px 6px 0;
  align-self: center;
}

.header__lang-list:last-child {
  margin-right: 0;
}

@media (max-width: 768px) {
  .header__lang-list {
    margin-top: 20px;
  }
}

@media (max-width: 480px) {
  .header__lang-list {
    margin-top: 17px;
    margin-right: 19px;
  }
}
